/* Styles for The Odin Project - Foundations Website Project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
html{
    font-family: Roboto, sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.content{
    flex: 1 0 auto;
}

/* Header/Hero */

.header-container{
    display: flex;
    background-color: #1f2937;
}

.header{
    /*border: 1px solid blueviolet;*/
    /*width: 1000px;*/
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 10px 30px 0 100px;
}

.header a{
    color: #e5e7eb;
}

.hero-section{
    display: flex;
    /*width: 100%;*/
}

.hero-section h1{
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-section p{
    font-size: 18px;
}

.hero-section button{
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
}

/* Navigation */

.logo p{
    font-size: 24px;
    color:#f9faf8;
}

.nav{
    display: flex;
    justify-content: flex-end;
    font-size: 18px; 
    align-items: center;
}

.nav div{
    margin-left: 28px;
}

/* Main Content */
.main-content{
    display: flex;
}

.quote{
    background-color: #e5e7eb;
    width: 100%;
    height: 350px;
    overflow: auto;
}

.quote blockquote{
    font-style:italic;
    font-size: 36px;
    text-align: center;
    /*padding: 60px 250px 60px 250px;*/
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8%;
}

.quote blockquote span{
    font-style:normal;
    font-weight: bold;
    font-size: 20px;
}


/* Footer */
.footer{
    background-color: #1f2937;
    color: #f9faf8;
    flex-shrink: 0;
}

